*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.Home{
    height: 100vh;
    width: 100%;
    background-image: url(./img/409327.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.Logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #34dd25;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding : 10px 25px ;
}

nav ul li a{
    color : white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color : #34dd25;
    transition: .4s;
}

.Btn {
    background-color: #34dd25;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding : 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.Btn:hover {
    transform: scale(1.2);
}

.HomeContent{
    position: absolute;
    top: 54%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 25px 0px 20px;
    font-size: 65px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 60px;
}

h4{
    color: #ec9ccc;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.HomeInfo form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.HomeInfo form input:first-child{
    display: inline-block;
    width: 100%;
    padding : 14px 130px 14px 15px;
    border : 2px solid #34dd25;
    outline: none;
    border-radius: 30px;
}

.HomeInfo form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border : none;
    padding : 10px 30px;
    border-radius: 30px;
    background-color: #34dd25;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585 ;
    top: 6px;
    right: 6px;
}

.About{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.About img{
    height: auto;
    width: 430px;
}

.TextAbout{
    width: 550px;
}

.MainAbout{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.TextAbout h2{
    color: white;
    font-size: 75px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.TextAbout h5{
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
    margin-bottom: 25px;
    text-transform: capitalize;
}


.TextAbout p{
    color: #ec9ccc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #34dd25;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 14px;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button span{
    color: white;
    text-decoration: none;
}

button i{
    color: white;
    margin-right: 10px;
}

button:hover{
    background-color: transparent;
    border: 2px solid #34dd25;
    cursor: pointer;
}


.Services{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.ServicesTitle h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    text-transform: capitalize;
}

.ServicesBox{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.ServicesCard{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.ServicesCard i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 20px 0px;
    color: #34dd25;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.Paragraph p{
    color: #ec9ccc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.Paragraph .Button{
    background-color: #34dd25;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.Paragraph .Button:hover{
    background-color: transparent;
    border: 2px solid #34dd25;
    cursor: pointer;
}

.ContactMe{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ContactMe p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.ContactMe .ContactButton{
    background-color: #34dd25;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.ContactMe .ContactButton:hover{
    background-color: transparent;
    border: 2px solid #34dd25;
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.SocialMedia{
    display: flex;
}

.SocialMedia a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #34dd25;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.SocialMedia a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.End{
    position: absolute;
    color: #34dd25;
    bottom: 35px;
    font-size: 14px;
}